---
layout: default
---

<h3>page.title</h3>
<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <p>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}
            • <a href="https://amanokaze.github.io{{ post.url }}#disqus_thread">0 Comments</a>
        </span>
    </p>
    </li>
  {% endfor %}
  
</ul>